In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [2]:
# Create a DataFrame from list
data = [['Alex',10],['Bob',12],['Cleark',13]]
df = pd.DataFrame(data,columns=["Name","Age"],index=['a','b','c'])
print(df)

     Name  Age
a    Alex   10
b     Bob   12
c  Cleark   13

In [3]:
#Create a DataFrame from a Dictionary of ndarrays
data={'Name':['Tom','Jack','Steve','Ricky'], 'Age':[28,34,57,19]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   57
3  Ricky   19

In [4]:
##Create a DataFrame from a Dictionary
data = [{'a':1, 'b':2},{'a':5, 'b':10, 'c':20},{'a':7, 'b':9, 'c':0}]
df = pd.DataFrame(data,index=['first','second','third'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0
third   7   9   0.0

# Working with CSV files

In [5]:
data =pd.read_csv("cardio_train.csv",delimiter=";")
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [6]:
# counting the number of columns and rows
print("number of rows and columns:({},{})".format(data.shape[0],data.shape[1]))

#list the first 5 rows on my data
print(data.head())

number of rows and columns:(70000,13)
   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  smoke  \
0   0  18393       2     168    62.0    110     80            1     1      0
1   1  20228       1     156    85.0    140     90            3     1      0
2   2  18857       1     165    64.0    130     70            3     1      0
3   3  17623       2     169    82.0    150    100            1     1      0
4   4  17474       1     156    56.0    100     60            1     1      0

   alco  active  cardio
0     0       1       0
1     0       1       1
2     0       0       1
3     0       1       1
4     0       0       0

In [7]:
# printing the name of your columns
print("first alternative: \n", data.columns)
print("second alternative: \n",data.keys())

first alternative:
 Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')
second alternative:
 Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

In [8]:
#printing a specific row
print("printing row 2\n")
data.iloc[[1]]

printing row 2

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1

In [9]:
# printing value for a particular position

print("Information of a particular sample: ",data.loc[0,'height'])

#printing the value of the second row and columns from o to 4
data.iloc[[1],0:4]

Information of a particular sample:  168

   id    age  gender  height
1   1  20228       1     156

In [10]:
#printing information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [11]:
# unique values
data.nunique()

id             70000
age             8076
gender             2
height           109
weight           287
ap_hi            153
ap_lo            157
cholesterol        3
gluc               3
smoke              2
alco               2
active             2
cardio             2
dtype: int64

# Doing Queries with DataFrame

In [12]:
n_row = range(data.shape[0])

column_list = ["gender","smoke"]

gender_1 = pd.DataFrame(data, index=n_row, columns=column_list).query("gender==1").count()

gender_1_1 = pd.DataFrame(data, index=n_row, columns=column_list).query("gender==1 and smoke==1").count()

 

print("Total number of sample gender_1: \n",gender_1)

print("Total number of sample gender_1: \n",gender_1_1)

Total number of sample gender_1:
 gender    45530
smoke     45530
dtype: int64
Total number of sample gender_1:
 gender    813
smoke     813
dtype: int64